<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>apiCallTest</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
            integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="js/pr4.js" defer></script>
    <link rel="stylesheet" href="css/pr4.css">
</head>
<body>
<div id="app">
    Type:
    <select v-model="type">
        <option value="sfw">sfw</option>
        <option value="nsfw">locked</option>
    </select>
    Category:
    <select v-if="type == 'nsfw'" v-model="category">
        <option value="waifu">waifu</option>
        <option value="neko">neko</option>
        <option value="trap">trap</option>
        <option value="blowjob">blowjob</option>
    </select>
    <select v-else v-model="category">
        <option value="waifu">waifu</option>
        <option value="neko">neko</option>
        <option value="shinobu">shinobu</option>
        <option value="megumin">megumin</option>
        <option value="bully">bully</option>
        <option value="cuddle">cuddle</option>
        <option value="cry">cry</option>
        <option value="hug">hug</option>
        <option value="awoo">awoo</option>
        <option value="cringe">cringe</option>
    </select>
    <button v-on:click="getImg">Request IMG</button>
    <p></p>
    <img v-bind:src="imgPath">
</div>
</body>
</html>